/* vedio */

.content {
    background-color: rgba(0, 0, 0, 0.726);

}

/* logo */
.logo_img_size {
    width: 100px;
}

@media (max-width:992px) {
    .logo_img_size {
        width: 50px;
    }
}

.banner_heading {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-container input,
.search-container select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

.cta-button {
    padding: 10px 20px;
    background-color: #ff5733;
    /* Change to your preferred color */
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cta-button:hover {
    background-color: #c0392b;
    /* Darker shade on hover */
}



















.destinations-highlights {
    background-color: #f9f9f9;
    padding: 50px 20px;
}

.product-category {
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-category:hover .category-image img {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.destination-learn{
    text-decoration: none;
}













/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 40px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.quick-links,
.social-media,
.contact-info,
.newsletter-signup {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin: 10px 0;
}

.footer ul li a {
    color: white;
    text-decoration: none;
}

.footer ul li a:hover {
    color: rgb(255, 208, 0);
}

.contact-info p:hover {
    color: rgb(255, 208, 0);
}

.social-media a {
    margin-right: 10px;
}

.social-media img {
    width: 24px;
    height: 24px;
}

.bgnd {
    background-color: #333;
}

/* 
.newsletter-signup form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.newsletter-signup input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
} */

.subscribe-button {
    padding: 10px 15px;
    background-color: #ff5733;
    /* Change to your preferred color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: #c0392b;
    /* Darker shade on hover */
}