.bg-color {
    background-color: rgb(18, 18, 92);
}

.logo-font {
    font-size: 50px;
    font-family: "Oswald", sans-serif;  
    font-weight: bold;
    font-style: normal;
}

@media (max-width:992px) {
    .logo-font {
        font-size: 30px;
    }
}
.customer_info_para {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
}
.sub_para {
    font-size: 12px;
}
.border_{
    border-top: 10px solid  rgb(18, 18, 92);
}
.section_heading {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(18, 18, 92);
}
.font_para {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.text_para {
    font-size: 25px;
}
